body {
    margin: 0;
    background-color: rgb(152, 152, 216);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
input {
    display: inline;
    width: 120px;
}
nav {
    text-align: center;
    padding: 5px 20px 5px 20px;
    background-color: lightblue;
    font-weight: 500;
    margin-bottom: 15px;
}
#box {
    margin: 0px 10%;
    padding: 30px 30px 50px 30px;
    text-align: center;
}
.buttons {
    margin: -2px;
    width: 100px;
    border: none;
    padding: 10px;
    transition: 0.3s;
    background-color: rgb(70, 70, 70);
    color: white;
}
.buttons:hover, .buttons.active {
    background-color: rgb(128, 128, 128);
}
#formKeliling {
    display: none;
}
#answer {
    background-color: white;
    height: 100px;
    width: 100%;
    padding: 10px;
    text-align: center;
    color: black;
}